<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/static/css/404_style.css">
</head>
<body>
<header>
    <h1>404 - Page Not Found</h1>
    <p>The requested page could not be found.</p>
</header>

<nav>
    <a href="/statistics" class="stats-button">View Statistics</a>
    <a href="/api/docs" class="stats-button">Swagger</a>
</nav>

<main>
    <h2>Return to Home</h2>
    <a href="/" class="stats-button">Home</a>
</main>

<footer class="custom-footer">
</footer>

</body>
</html>
